@model Abp.Application.Services.Dto.PagedResultDto<Web.Invoice.Service.ViewModel.InvoiceViewModel>
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel br-profile-page">

    <div class="bd bd-gray-300 rounded table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <th scope="row"><a href="/inboice/getbyid/@item.Id"> @item.CompanyName</a></th>
                        <td>@item.Vat</td>
                        <td>@item.Phone</td>
                        <td>@item.AddressCompany</td>
                    </tr>
                }

            </tbody>
        </table>
    </div><!-- bd -->
    <!-- ########## END: MAIN PANEL ########## -->
</div>